:root {
  --red: #ff0000;
  --beige: #f5f5dc;
  --white: #ffffff;
  --blue: #10448d;
  --gray: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: var(--beige);
  min-height: 100vh;
  min-height: 100dvh;
  padding: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1.5fr 8fr 0.5fr;
  grid-template-areas:
    "header header"
    "navMenu mainContent"
    "navMenu footer";
}

.majorSection {
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 10px;
}

.header {
  grid-area: header;
}

.mainContent {
  grid-area: mainContent;
}

.navMenu {
  grid-area: navMenu;
  padding: 20px 10px;
  background-color: var(--blue);
}

.navItem {
  margin: 20px;
  list-style-type: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
}
.navItem__text {
  padding: 0 10px;
}
.navItem__text:hover {
  background-color: var(--white);
  color: var(--blue);
}

.navItem__icon {
  margin-right: 12px;
}

.navItem__icon-arrow {
  margin-left: auto;
}

.footer {
  grid-area: footer;
}

@media (max-width: 600px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 7fr 1fr;
    grid-template-areas:
      "header"
      "navMenu"
      "mainContent"
      "footer";
  }
}

/* PlayerStats Page */

.playerStats {
  padding: 40px 30px;
}

.title {
  text-align: center;
}

/* Dropdown */

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown__btn {
  background-color: var(--gray);
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown__option {
  position: absolute;
  background-color: var(--white);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown__option li {
  color: black;
  padding: 12px 16px;
  list-style: none;
}

.dropdown__option li:hover {
  background-color: var(--gray);
}
