.header {
  color: var(--blue);
  background-color: var(--blue);
  background-image: url('images/nba-logo.png');
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
}

.NBA {
  background-color: var(--white);
  padding: 0 2px 0 2px;
  margin: 0;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0px 0px 3px 3px var(--red);
}
